body{
    background-color: #ffffff;
}

h1{
    color: rgb(131, 230, 131);
    border-color: white;
}

h2{
    color: black;
}

p{
    color: black
}

a{
    color: black;
}

.veldverkenner{
    padding: 1em;
}

.veldverkenner img{
    border-radius: 1rem;
    align-items: center;
}

.veldverkenner a{
    border-radius: 5em;
    border: 2px solid green;
    padding: .5rem;
    display: inline-block;
    margin-top: 15px;
}


.nieuws{
    padding: 1em;
}

.nieuws-scroll ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    gap: 1em;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.nieuws-scroll li{
    background-color: rgb(194, 240, 125);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 350px;
    flex-shrink: 0;
}

.nieuws-scroll img{
    border-radius: 1rem;
}